.navbar {
  box-shadow: 0px 1px 0px #dce5ef, 0px 1px 4px rgba(9, 8, 61, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 1000;
  height: 70px;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.logo {
  margin-left: 1rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  height: 2rem;
  line-height: 2rem;
  width: 7rem;
  text-align: center;
  background-color: #e5ecf3;
  border: 1px solid #e5ecf3;
  border-radius: 6px;
  color: #476887;
  font-weight: 600;
  margin: 0 0.1rem;
  transition: background-color 0.3s ease 0.1s;
}

.button:hover {
  background-color: #cdd9e3;
  /* A darker shade for hover effect */
}

.coverImage {
  z-index: -1;
  position: relative;
  height: 200px;
  box-shadow: 0px 1px 4px rgba(9, 8, 61, 0.08);
  border-left: 0.351794px solid #cfd9e4;
  border-bottom: 0.351794px solid #cfd9e4;
  border-right: 0.351794px solid #cfd9e4;
  border-radius: 0px 0px 10px 10px;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  overflow: hidden;
}

.buttons {
  margin-right: 2rem;
  justify-self: end;
}
.userProfile {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-right: 1rem;
}

.userName {
  font-size: 1rem;
  color: #476887;
  margin-right: 10px;
  cursor: pointer;
}

.userImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roundedImage {
  border-radius: 50%;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  top: 100%;
  z-index: 1050;
}




.auth button {
  height: 40px;
  /* Match height to userImage for alignment */
  background-color: #e5ecf3;
  border: none;
  border-radius: 6px;
  padding: 0 15px;
  cursor: pointer;
  color: #476887;
  font-weight: 600;
}

.auth button:hover {
  background-color: #cdd9e3;
}