.solvdCover {
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0px 1px 4px rgba(9, 8, 61, 0.08);
  border-left: 0.351794px solid #cfd9e4;
  border-bottom: 0.351794px solid #cfd9e4;
  border-right: 0.351794px solid #cfd9e4;
}